<div class="overlay">
  <div class="content">
    <div class="description">
      <h1 class="title">TRIVIART</h1>
      <h5 class="subtitle">BEST FII PRACTIC PROJECT</h5>
    </div>
    <div class="btn-container">
      <div class="btn-group">
        <button class="btn-icon" (click)="openLoginModal()">
          <i class="far fa-play-circle fa-3x"></i>
        </button>
        <p class="btn-icon-description">PLAY</p>
      </div>
      <div class="btn-group">
        <button class="btn-icon" (click)="openLeaderboardModal()">
          <i class="fas fa-list fa-2x"></i>
        </button>
        <p class="btn-icon-description">LEADERBOARD</p>
      </div>
      <div class="btn-group">
        <button class="btn-icon">
          <i class="far fa-envelope fa-3x"></i>
        </button>
        <p class="btn-icon-description">CONTACT</p>
      </div>
      <app-login #loginModal></app-login>
      <app-leaderboard #leaderboardModal></app-leaderboard>
    </div>
  </div>
  <app-register></app-register>

</div>
