@import '../../../../assets/styles/_variables';

.content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .title {
    text-decoration: underline;
  }

  .scores {
    padding: 0;
    width: 100%;
    list-style: decimal;

    li {
      display: flex;
      justify-content: center;

      &>* {
        padding: 5px;
      }

      .focus {
        color: $blue-color;
      }
    }
  }


}
