<form [formGroup]="form" class="form">
  <mat-form-field class="form-field">
    <input matInput placeholder="description" formControlName="description">
  </mat-form-field>
  <mat-form-field class="form-field">
    <input matInput placeholder="correct answer" formControlName="correctAnswer">
  </mat-form-field>
  <mat-form-field class="form-field">
    <input matInput placeholder="wrong answer #1" formControlName="wrongAnswer1">
  </mat-form-field>
  <mat-form-field class="form-field">
    <input matInput placeholder="wrong answer #2" formControlName="wrongAnswer2">
  </mat-form-field>
  <mat-form-field class="form-field">
    <input matInput placeholder="wrong answer #3" formControlName="wrongAnswer3">
  </mat-form-field>
</form>
<div class="button-container">
  <button class="btn">RESET FORM</button>
  <button class="btn btn-primary" (click)="addQuestion()">ADD</button>
</div>
