@font-face {
  font-family: "CityScape";
  src: url("../../../../assets/fonts/city/cityscape.ttf");
}

@font-face {
  font-family: "BoldFont";
  src: url("../../../../assets/fonts/Bold/theboldfont.ttf");
}

